*,
html {
    scroll-behavior: smooth !important;
}

#nav-mobile-menu {
    transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
}

#nav-mobile-menu.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

.text-shadow-cloud {
    text-shadow:
        0 6px 8px rgba(0, 0, 0, 0.5),
        0 10px 20px rgba(0, 0, 0, 0.3),
        0 15px 30px rgba(0, 0, 0, 0.1);
}

.clamped-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .clamped-text {
        display: block;
    }
}

.expanded-text {
    display: block;
}

.not-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.aggressive-shadow {
    color: white;
    text-shadow:
        1px 1px 3px rgba(0, 0, 0, 0.9),
        3px 3px 8px rgba(0, 0, 0, 0.8),
        0px 0px 18px rgba(0, 0, 0, 0.6);
}
