{% extends "../sito/base.html" %} {% load static %} {%block content%}
<div class="relative">
    <img
        class="absolute object-cover bg-cover bg-center blur-md brightness-90 h-full inset-0 w-full"
        src="{% static '' %}sito/sea_bg.jpg"
        style="object-fit: fill; z-index: -10"
    />
    <div class="container mx-auto px-4 lg:max-w-7xl">
        <div class="grid grid-cols-1 bg-white shadow-lg gap-8">
            <div class="px-3 md:px-6 lg:px-20 pb-4">
                <div class="w-full -mx-3 gap-1 mb-4 mt-2 hidden md:inline-flex">
                    {% for info in infos %}
                    <a
                        href="#{{info.nameid}}"
                        class="font-[family-name:var(--p-font)] first:rounded-l-xl last:rounded-r-xl bg-[var(--sec-col)] items-center justify-center text-white font-bold py-1 px-3 w-[25%] inline-flex items-center gap-2 hover:bg-[var(--sec-col-hover-bg)] hover:outline-none hover:ring-4 hover:ring-[var(--sec-col-hover-ring)] focus:outline-none transition-all"
                    >
                        <span class="truncate">{{info.title}}</span>
                    </a>
                    {% endfor %}
                </div>
                <div class="flex flex-col gap-1 md:hidden w-full mb-4 mt-2">
                    {% for partition in infos_split %}
                    <div class="w-full gap-1 flex">
                        {% for info in partition %}
                        <a
                            href="#{{info.nameid}}"
                            class="min-w-0 font-[family-name:var(--p-font)] first:rounded-l-xl last:rounded-r-xl bg-[var(--sec-col)] text-white font-bold py-1 px-3 w-[50%] inline-flex items-center gap-2 hover:bg-[var(--sec-col-hover-bg)] hover:outline-none hover:ring-4 hover:ring-[var(--sec-col-hover-ring)] focus:outline-none transition-all"
                        >
                            <span class="truncate">{{info.title}}</span>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <h1
                    class="text-black text-3xl font-bold font-[Courgette] mb-6"
                    id="location-directions"
                >
                    <span
                        class="text-xl inline-flex items-center justify-center w-7 h-7 rounded-full bg-[var(--sec-col)] font-bold text-[var(--sec-col)]"
                    >
                        .
                    </span>
                    {{labels.where_are_we}}
                </h1>
                <!-- google map warning to inject -->
                <div id="map-injector">
                    <div
                        class="relative w-full aspect-square md:aspect-video rounded-md mb-6 overflow-hidden"
                    >
                        <img
                            src="{% static '' %}sito/map_preview.png"
                            class="w-full h-full object-cover"
                        />

                        <div
                            class="absolute inset-0 flex flex-col items-center justify-center p-6 text-center"
                        >
                            <h1
                                class="text-xl md:text-3xl font-bold text-white [text-shadow:_0_4px_12px_rgb(0_0_0_/_100%),_0_0_15px_rgb(0_0_0_/_100%)] mb-2 font-[Courgette]"
                            >
                                {{view_map.title}}
                            </h1>

                            <p
                                class="text-white text-xs md:text-base [text-shadow:_0_4px_12px_rgb(0_0_0_/_100%),_0_0_15px_rgb(0_0_0_/_100%)] mb-6 font-[family-name:var(--p-font)] md:w-2/3"
                            >
                                {{view_map.descr|safe}}
                            </p>

                            <button
                                onclick="acceptAndViewMap()"
                                class="bg-[var(--sec-col)] text-white font-bold py-2 px-3 rounded-xl inline-flex items-center gap-2 hover:bg-[var(--sec-col-hover-bg)] hover:outline-none hover:ring-4 hover:ring-[var(--sec-col-hover-ring)] focus:outline-none transition-all"
                            >
                                {{labels.view_map}}
                            </button>
                        </div>
                    </div>
                </div>
                <!-- location directions -->
                <details
                    class="group [&_summary::-webkit-details-marker]:hidden mb-6"
                >
                    <summary
                        class="flex items-center cursor-pointer list-none select-none"
                    >
                        <span
                            class="mr-4 text-[var(--sec-col)] transition-transform duration-300 group-open:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-7 h-7"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="3"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19 9l-7 7-7-7"
                                />
                            </svg>
                        </span>
                        <h1
                            class="text-black text-2xl font-bold font-[Courgette]"
                        >
                            {{ street_directions.title }}
                        </h1>
                    </summary>

                    <p
                        class="mt-4 pl-11 text-gray-700 text-base leading-relaxed font-[family-name:var(--p-font)]"
                    >
                        {{ street_directions.descr|safe }}
                    </p>
                </details>
                <!-- infos -->
                {% for info in infos %}
                <h1
                    class="flex items-start gap-3 text-black text-3xl md:-mx-6 lg:-mx-20 md:px-4 lg:px-8 font-bold font-[Courgette]"
                    id="{{info.nameid}}"
                >
                    <span
                        class="shrink-0 text-xl inline-flex items-center justify-center w-8 h-8 rounded-full bg-[var(--sec-col)] font-bold text-[var(--sec-col)]"
                    >
                        .
                    </span>
                    <span>
                        {{ info.title }}
                    </span>
                </h1>
                <!--START SLIDESHOW-->
                <div
                    data-group="images-main-cont"
                    class="relative -mx-3 md:-mx-6 lg:-mx-20 h-[25vh] md:h-[50vh] mt-6 mb-3 overflow-hidden"
                >
                    <button
                        data-role="left"
                        class="absolute left-2 md:left-4 top-1/2 -translate-y-1/2 z-10 bg-gray-800 bg-opacity-50 text-white p-3 rounded-full hover:bg-opacity-75 focus:outline-none"
                    >
                        &#10094;
                    </button>
                    <button
                        data-role="right"
                        class="absolute right-2 md:right-4 top-1/2 -translate-y-1/2 z-10 bg-gray-800 bg-opacity-50 text-white p-3 rounded-full hover:bg-opacity-75 focus:outline-none"
                    >
                        &#10095;
                    </button>
                    <div
                        data-cont="images"
                        class="flex overflow-x-auto gap-1 not-selectable"
                        style="scrollbar-width: none; -ms-overflow-style: none;"
                    >
                        {% for image in info.images %}
                        <div
                            class="relative h-[25vh] md:h-[50vh] snap-center flex-shrink-0"
                            style="pointer-events: none"
                        >
                            <img
                                src="{{ image.image.url }}"
                                alt="{{ image.caption }}"
                                class="h-full w-auto not-selectable"
                                draggable="false"
                            />
                            <h2
                                class="absolute text-center aggressive-shadow text-base md:text-xl text-white bottom-1 md:bottom-2 left-1/2 -translate-x-1/2 z-10 font-[Courgette] not-selectable"
                            >
                                {{image.caption}}
                            </h2>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--END SLIDESHOW-->
                <div
                    class="text-black text-base md:text-lg w-full lg:w-[85%] pt-2 pl-3 md:pl-5 lg:pl-5 mb-5 lg:mb-8"
                    style="font-family: {{conf.p_font}}"
                >
                    {{info.descr|safe}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script
    type="text/javascript"
    src="{% static '' %}sito/calagonone_script.js"
></script>
{%endblock%}
